## GRIP - The Sparks Foundation Task - 5

## Task 5 - Exploratory Data Analysis - Sports

## Author- Swapna Singarapalli

In [4]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Read the data from the dataset

In [5]:
deliveries=pd.read_csv(r"deliveries (1).csv")
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [6]:
deliveries.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [7]:
deliveries.shape

(179078, 21)

In [8]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [10]:
matches= pd.read_csv(r"matches (1).csv")
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
matches.head()

In [ ]:
matches.describe()

In [ ]:
matches.shape

In [ ]:
matches.info()

Now We Merge The Two Tables For Better Understanding.

In [ ]:
Final_data = pd.merge(matches,deliveries , left_on='id', right_on ='match_id')
Final_data

In [ ]:
Final_data.info()

In [ ]:
Final_data.describe()

In [ ]:
Final_data.shape

In [ ]:
matches[matches.city.isnull()][['city','venue']]

In [ ]:
matches.city = matches.city.fillna('Dubai')

In [ ]:
matches = matches.drop('umpire3', axis = 1)

In [ ]:
city_venue = matches.groupby(['city','venue']).count()['season']
city_venue_1 = pd.DataFrame(city_venue)
city_venue_1

In [ ]:
matches.iloc[matches['win_by_runs'].idxmax()]

## Here The Team Mumbai Indians Is Won By Maximum Runs And The Runs Are 146.

In [ ]:
matches.iloc[matches[matches['win_by_wickets'].ge(1)].win_by_wickets.idxmin()]

# Here The Team Which Is Won By Minimum Wicktes Is Kolkata Knight Riders.

In [ ]:
plt.figure(figsize=(15,8))
sns.countplot(x='season', data=matches)
plt.show()

## Here In The Year 2011,2012 And 2013 There Was Maximum Number of Matches Has Been Played.

In [ ]:
matches.groupby('season')['team1'].nunique().plot(kind = 'bar', figsize=(15,10))
plt.title("Number of teams participated each season ",fontsize=18,fontweight="bold")
plt.ylabel("Count of teams", size = 25)
plt.xlabel("Season", size = 25)
plt.xticks(size = 15)
plt.yticks(size = 15)

## Here We Can See 10 Teams Played In 2011 And 9 Teams Each In 2012 and 2013.

In [ ]:
Final_data['win_by']=np.where(Final_data['win_by_runs']>0,'Bat first','Bowl first')

In [ ]:
plt.figure(figsize = (18,10))
sns.countplot('season',hue='win_by',data=Final_data,palette='Set1')
plt.title("Numbers of matches won by batting and bowling first ",fontsize=20)
plt.xlabel("Season",fontsize=15)
plt.ylabel("Count",fontsize=15)
plt.show()

## Here We Can See That Maximum Number of Matches Win By Chossing Bowling First.

In [ ]:
Toss=Final_data.toss_decision.value_counts()
labels=np.array(Toss.index)
sizes = Toss.values
colors = ['#FFBF00', '#DD7596']
plt.figure(figsize = (15,10))
plt.pie(sizes, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True,startangle=90)
plt.title('Toss Result',fontsize=20)
plt.axis('equal')
plt.show()

## Here We Can See That After Winning The Toss, The Maximum Probability Is Chossing A Field First And It Is 61%.

In [ ]:
Final_data['toss_win_game_win'] = np.where((Final_data.toss_winner == Final_data.winner),'Yes','No')
plt.figure(figsize = (15,10))
sns.countplot('toss_win_game_win', data=Final_data, hue = 'toss_decision')
plt.title("How Toss Decision Affects Match Result", fontsize = 20)
plt.xticks(size = 15)
plt.yticks(size = 15)
plt.xlabel("Winning Toss And Winning Match", fontsize = 20)
plt.ylabel("Frequency", fontsize = 20)

In [ ]:
plt.figure(figsize = (15,10))
sns.countplot('season',hue='toss_decision',data=Final_data,palette='Set2')
plt.title("Numbers of Matches Won By Toss Result ",fontsize=20)
plt.xlabel("Season",fontsize=15)
plt.ylabel("Count",fontsize=15)
plt.show()

## Here We Can See That In Recent Years There Is High Rate of Winning When The Team Choosing Field First After Winning The Toss.

In [ ]:
Winner=Final_data.drop_duplicates(subset=['season'], keep='last')

Winner[['season','winner']].reset_index(drop=True).sort_values('season')

## Here We Can See In Each Season Which Team Win The Tournament.

In [ ]:
matches.venue.value_counts().sort_values(ascending = True).tail(10).plot(kind = 'bar',figsize=(12,8), fontsize=15, color='blue')
plt.title("Venue At Which Maximum Number of Matches Has Been Played",fontsize=18)
plt.xticks(rotation=90)
plt.ylabel("Frequency", size = 25)
plt.xlabel("Venue", size = 25)

## Here We Can Say That The Maximum Number of Matches Has Been Played At Eden Gardens, M Chinnaswamy Stadium And Wankhede Stadium.

In [ ]:
plt.figure(figsize = (18,10))
sns.countplot(x='winner',data=Final_data, palette='husl')
plt.title("Numbers of Matches Won By Team ",fontsize=25)
plt.xticks(rotation=50)
plt.xlabel("Teams",fontsize=20)
plt.ylabel("No of Wins",fontsize=20)
plt.show()

## Here Mumbai Indians Is The Leading Team which Wins The Most Number of IPL Trophies. Also Chennai Super Kings Is At Second Position.

In [ ]:
temp_df = pd.melt(Final_data, id_vars=['id','season'], value_vars=['team1', 'team2'])

plt.figure(figsize=(15,10))
sns.countplot(x='value', data=temp_df)
plt.xlabel("Teams",fontsize=20)
plt.ylabel("Count",fontsize=20)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
Number_of_fours = Final_data[Final_data['batsman_runs'] == 4]
Number_of_fours.groupby('batting_team')['batsman_runs'].agg([('runs by fours','sum'),('fours','count')])

In [ ]:
Number_of_six = Final_data[Final_data['batsman_runs'] == 6]
Number_of_six.groupby('batting_team')['batsman_runs'].agg([('runs by six','sum'),('sixes','count')])

In [ ]:
plt.figure(figsize=(18,10))
ax=sns.countplot(Final_data.dismissal_kind)
plt.title("Dismissals in IPL",fontsize=20)
plt.xlabel("Dismissals Kind",fontsize=15)
plt.ylabel("Count",fontsize=15)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize = (25,10))
sns.countplot('toss_winner', data = Final_data, hue = 'toss_decision')
plt.title("Teams decision to bat first or second after winning toss", size = 30)
plt.xticks(size = 15, rotation=50)
plt.yticks(size = 15)
plt.xlabel("Toss Winner", size = 25)
plt.ylabel("Count", size = 25)

In [ ]:
bowler_wickets = Final_data.groupby('bowler').aggregate({'ball': 'count', 'total_runs': 'sum', 'player_dismissed' : 'count'})
bowler_wickets.columns = ['runs','balls','wickets']
TopBowlerBywickets = bowler_wickets.sort_values(['wickets'], ascending=False)[:20]
TopBowlerBywickets

In [ ]:
Man_of_The_Match = Final_data['player_of_match'].value_counts()
Man_of_The_Match.head(10).plot(kind = 'bar',figsize=(12,8), fontsize=15, color='green')
plt.title("Top 10 Players With Most Man of The Match Awards",fontsize=20)
plt.ylabel("Frequency", size = 20)
plt.xlabel("Players", size = 20)

## Here CH Gayle And AB de Villiers Are Two Players Who Wins The Most Number of Man of The Match Awards In IPL.

In [ ]:
Final_data.groupby('bowler')['player_dismissed'].count().sort_values(ascending = False).head(10).plot(kind = 'bar', 
                                                color = 'purple', figsize = (15,10))
plt.title("Top Wicket Takers of IPL", fontsize = 25,)
plt.xlabel("Bowler Name", size = 20)
plt.ylabel("Total Wickets Taken", size = 20)
plt.xticks(size = 12)
plt.yticks(size = 12)

## Here We Can See That Lasith Malinga Is The Highest Wicket Taker Bowler In The IPL.

In [ ]:
Final_data.groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).head(10).plot(kind = 'bar', color = 'orange',
                                                                                            figsize = (15,5))
plt.title("Top Run Getters of IPL", fontsize = 25)
plt.xlabel("Batsmen Name", size = 20)
plt.ylabel("Total Runs Scored", size = 20)
plt.xticks(size = 12)
plt.yticks(size = 12)

## Here Virat Kohli And Suresh Raina Are The Top Players Who Make Top Runs In The IPL.